{% extends "index.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
    <h1 align="center" style="color:#198754">Заказы</h1>
    {% if current_user.is_authenticated %}
    <div align="center">
        <a href="news" class="btn btn-success" style="margin-bottom: 1rem;">Сделать заказ</a>
    </div>
    {% else %}
    <div align="center">
        <h1 style="color:#198754">Зарегистрируйтесь или войдите в аккаунт</h1>
    </div>
    {% endif %}
    {% for item in news%}
    <div class="box_leader" align="center">
            <div class="box">
            <h2>{{item.title}}</h2>
            <div>
                {{item.content}}
            </div>
            <div>
                Автор - {{item.user.name}}, Дата заказа - {{item.created_date}}
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger" >
                Удалить
            </a>
        </div>
            </div>
    </div>
{% endfor %}
{% endblock %}